.fadeUp{
    -webkit-animation-name: fadeUp; 
    -webkit-animation-duration: 2s;
    animation-name: fadeUp;
    animation-duration: 2s;
}
    @keyframes fadeUp {
        from {
            opacity: 0;
            transform: translate3d(0,40px,0)
        }
        to {
            opacity:1;
            transform: translate3d(0,0,0);
        }
    }
    @-webkit-keyframes fadeUp {
        from {
            opacity: 0; 
            transform: translate3d(0,40px,0)
        }
        to { 
            opacity: 1; 
            transform: translate3d(0,0,0);
        }
    }

    .fadeUpButton{
        -webkit-animation-name: fadeUpButton; 
        -webkit-animation-duration: 5s;
        animation-name: fadeUpButton;
        animation-duration: 5s;
    }
        @keyframes fadeUpButton {
            from {
                opacity: 0;
               
            }
            to {
                opacity:1;
             
            }
        }
        @-webkit-keyframes fadeUpButton {
            from {
                opacity: 0; 
           
            }
            to { 
                opacity: 1; 
            
            }
        }
